---
---

// media query mixin
@mixin media($media-query){
	@if $media-query == small{
		@media only screen and (min-width:30em) { @content; }
	}
	@if $media-query == medium{
		@media only screen and (min-width:55em) { @content; }
	}
	@if $media-query == large {
		@media only screen and (min-width:62em) { @content; }
	}
	@if $media-query == low {
		@media only screen and (max-height:25em) { @content; }
	}
}

$blue: #2A95DA;
$blue-light: lighten($blue,20%);
// $red: #e35d5d;
$red: #CA2321;
$purple: #7C628E;
$light: #FFF;
$dark: #000;
$grey: #aaa;
$lightgrey: #E3E3E3;
$flamingo: #F7D1E3;


html, body {
	min-height: 100%;
	padding: 0;
	margin: 0;
}

body {
	font-family: 'Droid Serif',Helvetica, Arial, sans-serif;
	font-weight: 300;
	text-align: center;
	font-size: 110%;
}

header {
	padding: 10vh;
	text-align: center;

	p {
		margin: 5px auto 20px;
		font-size: 16px;
	}
}

h2.small {
	font-size: 24px;
	margin-top:-10px;
}


h3.small {
	font-size: 24px;
	margin-top:-20px;
}

a {
	color: $blue;
	text-decoration: none;
	padding: 1px 3px;
	&:hover, &:focus, &:active {
		background: $flamingo;
		color: $red;
	}
}

.btn, button {
	padding: 20px 25px;
	background: $red;
	color: $light;
	text-decoration: none;
	display: inline-block;
	margin-top: 3vh;
	cursor: pointer;
	&:hover, &:focus, &:active {
		background: $blue;
		color: $light;
	}
}

.heart {
	color: $red;
}

p {
	line-height: 1.5;
	max-width: 35em;
	margin: 0 auto;
}

li {
	line-height: 1.5;
}

.unstyled {
	list-style: none;
}

h1, h2, h3 {
	font-weight: 300;
	font-family: 'fixedsys';
	text-transform: uppercase;
	letter-spacing: 0.1em;
	text-decoration: none;
	a {
		text-decoration: none;
	}
}


%header {
	color: $dark;
	text-shadow: -4px -4px 0px $red;
	&:hover, &:active, &:focus {
		color: $dark;
		text-shadow: -4px -4px 0px $red;
	}
}

%header2 {
	color: $dark;
	text-shadow: -4px -4px 0px $blue;
	&:hover, &:active, &:focus {
		color: $dark;
		text-shadow: -4px -4px 0px $blue;
	}
}

.red {
	h1, h2, h3 {
		@extend %header;
	}
}

.blue {
	h1, h2, h3 {
		@extend %header2;
	}
}

section {
	h1, h2{
		@extend %header;
	}
}

#schedule {
	h1, h2, h3 {
		@extend %header2;
	}
}

#speakers {
	background: lighten($blue, 10%);
	color: $light;
	.speakers {
		padding-left: 0;
	}
	.container {
		padding: 0;
		max-width: 40em;
		margin: 0 auto;
	}
	h3 {
		color: white;
		text-align: center;
		font-weight: 400;
		margin-top: 0;
		padding-bottom: 10px;
		border-bottom: 1px dotted $light;
		text-shadow: none;
		font-size: inherit;
	}
	.section-self-link {
		display: block;
		background: transparent;
	}
	li {
		list-style: none;
		margin-bottom: 60px;
	}
	img {
		border-radius: 50%;
		border:3px solid $light;
		max-width: 130px;
	}
	.section-self-link + p {
		margin-top: 10px;
	}
	.speaker-body p {
		margin-bottom: 10px;
	}
}

#about {
	background: lighten($blue, 10%);
	color: $light;
	h1, h2, h3 {
		@extend %header2;
	}
}

@keyframes flap {
  0%, 100% {
    background-position: 10px 0, 10px 0, center center, center center
  }
  40% {
    background-position: 10px 10px, center center, center center, center center
  }
  80% {
    background-position: 25px 5px, center center, center center, center center
  }
}


.bg {
	padding: 0;
	height: 50vh;
  background-blend-mode: lighten;
  background-size: cover;
	background-position: center;
  background-repeat: no-repeat;
}

.bg1 {
	background:
	url(/images/2016/bg1.jpg);
	// url(/images/pattern.png),
	// linear-gradient($blue 0%, $red 100%),
	// linear-gradient(to right, $blue 0%, $red 100%);
  background-size: cover;
	background-position: center;
}

.bg2 {
	background:
	url(/images/2016/bg2.jpg);
	// url(../images/pattern.png),
	// linear-gradient($red 0%, $blue 100%),
	// linear-gradient(to right, $blue 0%, $red 100%);
  background-size: cover;
	background-position: bottom center;
}

.bg3 {
	background:
	url(/images/2016/bg3.jpg);
	// url(../images/pattern.png),
	// linear-gradient($blue 0%, $red 100%),
	// linear-gradient(to right, $red 100%, $blue 0%);
  background-size: cover;
	background-position: top center;
}

%small {
	font-size: 20px;
	font-weight: normal;
	@include media(medium) {
		font-size: 24px;
	}
}

%medium {
	font-size: 55px;
	@include media(medium) {
		font-size:70px;
	}
}

%large {
	font-size: 40px;
	@include media(small) {
		font-size: 60px;
	}
	@include media(medium) {
		font-size: 70px;
	}
}

h1 {
	text-transform: uppercase;
	letter-spacing: 0.05em;
	font-weight: normal;
	margin: 0;
	@extend %large;
	@include media(small) {
		padding: 0 10px 10px;
		padding: 0 1vh 0.2vh;
	}
	a {
		display: block;
	}
}

h2 {
	@extend %medium;
	margin: 20px 0 0;
	margin: 2vh 0 0;
	line-height: 1.25;
}

h3 {
	@extend %small;
	margin: 60px 0 0;
	margin: 6vh 0 0;
}

marquee{
	@extend %small;
	font-family: 'fixedsys';
	margin: 4px 0 0 0;
	text-transform: uppercase;
	span {
		margin-right: 50px;
	}
}

#marquee {
	padding: 0;
	background: transparent;
}

.section-self-link {
	color: $blue;
	text-decoration: none;
	&:hover, &:focus, &:active {
		background: transparent;

	}
}

table {
	margin: 0 auto;
	text-align: left;
	.center {
		text-align: center;
		font-weight: 400;
		padding-top: 60px;
		border-top: 1px dotted $blue-light;
		border-bottom: 1px dotted $blue-light;
	}
}

td {
	padding: 10px 8px;
}

.blink {
  -webkit-animation: blink 1s steps(5, start) infinite;
  -moz-animation: blink 1s steps(5, start) infinite;
  -o-animation: blink 1s steps(5, start) infinite;
  animation: blink 1s steps(5, start) infinite;
}

@keyframes blink {
  to {
    visibility: hidden;
  }
}

section {
	padding: 3vw 6vw 5vw;
}

figure {
	margin: 0;
}

frame {
	pointer-events: none;
}


#schedule {
	background: lighten($blue, 50%);
}

#about {
	text-align: center;
	p {
		margin-left: auto;
		margin-right: auto;
	}
}

#venue {
	padding: 0;
	position: relative;
	line-height: 0;
	h1, h2, h3 {
		@extend %header2;
	}
	.container {
		position: absolute;
		top: 0;
		right: 0;
		background: $light;
		padding: 20px;
	}
	h2 {
		margin-top: 0;
	}
	address {
		line-height: 1.4;
		font-style: normal;
	}
}

#sponsors {
	li {
	display: inline-block;
	}
	img {
		width: 200px;
	}
	figure {
		margin: 10px 20px 0;
	}
	a {
		color: $red;
	}
}

.mt1 {
	margin-top: 1vh;
}

.mt2 {
	margin-top: 2vh;
}

.mt6 {
	margin-top: 6vh;
}

.mb1 {
	margin-bottom: 1vh;
}

.mb2 {
	margin-bottom: 2vh;
}

#organisers {
	h2 {
		font-size: 16px;
		color: $grey;
		margin-bottom: 10px;
	}
}

.twitter, .github {
	color: $light;
	font-weight: bold;
}

//this is the bootstrap grid
[class*=' col-'] {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
	float: left;
}

.col-xs-12 {
  width: 100%;
}
.col-xs-11 {
  width: 91.66666667%;
}
.col-xs-10 {
  width: 83.33333333%;
}
.col-xs-9 {
  width: 75%;
}
.col-xs-8 {
  width: 66.66666667%;
}
.col-xs-7 {
  width: 58.33333333%;
}
.col-xs-6 {
  width: 50%;
}
.col-xs-5 {
  width: 41.66666667%;
}
.col-xs-4 {
  width: 33.33333333%;
}
.col-xs-3 {
  width: 25%;
}
.col-xs-2 {
  width: 16.66666667%;
}
.col-xs-1 {
  width: 8.33333333%;
}

@include media (small) {

  .col-sm-12 {
    width: 100%;
  }
  .col-sm-11 {
    width: 91.66666667%;
  }
  .col-sm-10 {
    width: 83.33333333%;
  }
  .col-sm-9 {
    width: 75%;
  }
  .col-sm-8 {
    width: 66.66666667%;
  }
  .col-sm-7 {
    width: 58.33333333%;
  }
  .col-sm-6 {
    width: 50%;
  }
  .col-sm-5 {
    width: 41.66666667%;
  }
  .col-sm-4 {
    width: 33.33333333%;
  }
  .col-sm-3 {
    width: 25%;
  }
  .col-sm-2 {
    width: 16.66666667%;
  }
  .col-sm-1 {
    width: 8.33333333%;
  }
}

@include media (medium) {
  .col-md-12 {
    width: 100%;
  }
  .col-md-11 {
    width: 91.66666667%;
  }
  .col-md-10 {
    width: 83.33333333%;
  }
  .col-md-9 {
    width: 75%;
  }
  .col-md-8 {
    width: 66.66666667%;
  }
  .col-md-7 {
    width: 58.33333333%;
  }
  .col-md-6 {
    width: 50%;
  }
  .col-md-5 {
    width: 41.66666667%;
  }
  .col-md-4 {
    width: 33.33333333%;
  }
  .col-md-3 {
    width: 25%;
  }
  .col-md-2 {
    width: 16.66666667%;
  }
  .col-md-1 {
    width: 8.33333333%;
  }
}

// webfonts
@font-face {
    font-family: 'fixedsys';
    src: url('fonts/fsex300-webfont.eot');
    src: url('fonts/fsex300-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/fsex300-webfont.woff2') format('woff2'),
         url('fonts/fsex300-webfont.woff') format('woff'),
         url('fonts/fsex300-webfont.ttf') format('truetype'),
         url('fonts/fsex300-webfont.svg#fixedsys') format('svg');
    font-weight: normal;
    font-style: normal;
}
