---
---
@import 'normalize';
@import 'countdown';
@import 'colours';

body {
	font-family: -apple-system, BlinkMacSystemFont, Roboto, 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 16px;
	font-weight: 300;
	background-image: linear-gradient(to bottom, #20d8dc, #1dd1d6 31%, #0eafb7);
	color: #fff;
	text-align: center;
}

h1 {
	font-size: 63px;
	font-family: 'fixedsys';
	text-transform: uppercase;
	line-height: 1;
	letter-spacing: -0.3px;
	font-weight: normal;
}

h2 {
	font-size: 36px;
	font-weight: bold;
	color: #77332c;
}

h3 {
	color: black;
}

:link, :visited {
  text-decoration: none;
	color: inherit;
}

#hero {
	background-image: url(/images/2016/IMG_3661.jpg);
	background-position: top left;
	background-size: cover;
	padding: 20px;

	.wrapper {
		max-width: 525px;
		margin: auto;
		background-color: transparentize($turqouise, 0.5);
		padding: 10px;
	}
}

.heart {
	color: #FF0000;
}

.blink {
  -webkit-animation: blink 1s steps(5, start) infinite;
  -moz-animation: blink 1s steps(5, start) infinite;
  -o-animation: blink 1s steps(5, start) infinite;
  animation: blink 1s steps(5, start) infinite;
}

// webfonts
@font-face {
    font-family: 'fixedsys';
    src: url('fonts/fsex300-webfont.eot');
    src: url('fonts/fsex300-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/fsex300-webfont.woff2') format('woff2'),
         url('fonts/fsex300-webfont.woff') format('woff'),
         url('fonts/fsex300-webfont.ttf') format('truetype'),
         url('fonts/fsex300-webfont.svg#fixedsys') format('svg');
    font-weight: normal;
    font-style: normal;
}
