/*

colors:

rude-ice:       #39A8DF
rude-blue:      #1E72B8
rude-dark-blue: #16568A

*/

@font-face {
  font-family: 'DOS';
  font-style: normal;
  font-weight: normal;
  src: url('../font/fixedsys/Fixedsys500c.eot');
  src: local('☺'), url('../font/fixedsys/Fixedsys500c.woff') format('woff'), url('../font/fixedsysFixedsys500c.ttf') format('truetype'), url('../font/fixedsys/Fixedsys500c.svg') format('svg');
}

body {
  padding: 0;
  margin: 0;
  background: #39A8DF;
  font-size: 20px;
  font-family: DOS, Monaco, Menlo, Consolas, "Courier New", monospace;
}

h1 {
  font-size: 2rem;
  line-height: 2.2rem;
  margin: 1rem 0 0.8rem 0;
}

h2 {
  font-size: 1.5rem;
  line-height: 1.65rem;
  margin: 0.75rem 0 0.6rem 0;
}

header h1,
header h2 {
  font-size: 1rem;
  line-height: 1.1rem;
  margin: 0.5rem 0 0.4rem 0;
}

@media only screen and (min-width : 601px) {
  h1,
  header h1 {
    font-size: 3rem;
    line-height: 3.3rem;
    margin: 1.5rem 0 1.2rem 0;
  }

  h2,
  header h2 {
    font-size: 2rem;
    line-height: 2.2rem;
    margin: 1rem 0 0.8rem 0;
  }
}

.section-header {
  text-decoration: underline;
  text-decoration-color: #16568A;
}

.heart {
  color: #e35d5d;
}

/* http://stackoverflow.com/a/17203597 */

.blink {
  -webkit-animation: blink 1s steps(5, start) infinite;
  -moz-animation: blink 1s steps(5, start) infinite;
  -o-animation: blink 1s steps(5, start) infinite;
  animation: blink 1s steps(5, start) infinite;
}

@-webkit-keyframes "blink" {
  to {
    visibility: hidden;
  }
}

@-moz-keyframes blink {
  to {
    visibility: hidden;
  }
}

@-o-keyframes blink {
  to {
    visibility: hidden;
  }
}

@keyframes blink {
  to {
    visibility: hidden;
  }
}

.container {
  padding: 0 1.5rem;
  margin: 0 auto;
  max-width: 1280px;
  width: 90%;
}

@media only screen and (min-width : 601px) {
  .container {
    width: 85%;
  }
}

@media only screen and (min-width : 993px) {
  .container {
    width: 70%;
  }
}

section {
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: #39A8DF;
  color: white;
}

.header-section {
  background-color: white;
  color: #222;
  text-align: center;
}

a {
  color: #16568A;
}

a:hover {
  color: black;
}

a.shouty-button {
  border: 2px solid #16568A;
  text-decoration: none;
  padding: 2px 4px;
  font-size: 2rem;
  line-height: 3.5rem;
  background-color: white;
  color: #16568A;
}

@media only screen and (min-width : 993px) {
  a.shouty_button {
    font-size: 3rem;
  }
}

a.shouty-button:hover {
  background-color: #39A8DF;
}

header {
  text-align: center;
  background-color: #39A8DF;
  color: white;
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
}

li:before {
  content: "• ";
  color: #16568A;
}

header h1,
header h2 {
  font-size: 2.1rem;
  line-height: 2.3rem;
  margin: 1.05rem 0 0.84rem 0;
}

p {
  line-height: 2rem;
}

.image-section {
  max-height: 500px;
  overflow: hidden;
  padding: 0;
}

.image-section img {
  width: 100%;
  display: block;
}

footer {
  text-align: center;
}
