---
layout: default
---
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ site.title }}</title>
    <meta name="description" content="{{ site.description }}">
    <link rel="icon" href="/favicon.ico" type="image/x-icon"/>
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon"/>

    <link rel="stylesheet" href="/css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Droid+Serif" rel="stylesheet">
  </head>

  <body>
    <header id="hero" class="section-blue section-big">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <img id="lion-logo" src="/images/2016/lion-logo-circle.png" alt="Hong Kong Code Conf 2016 logo">
            <h1>
              <a href="http://hongkong.codeconf.io">
                Hong Kong<br>
                Code Conf
              </a>
            </h1>
          </div>
        </div>
        <div class="heading-smaller">
          *the* hong kong programming conference
        </div>
        <h3>organised by <a href="http://codeaholics.io/">codeaholics</a></h3>
        <a href="http://hongkongcodeconf2016.eventbrite.hk" target="_blank" class="btn">Get your tickets now!</a>
      </div>
    </header>


    <section id="marquee">
      <div class="container">
        <marquee>
          Saturday October 15th 2016 @
          <a href="#">
            Credit Suisse - 88TH FLOOR, ICC, Kowloon Station
          </a>
        </marquee>
      </div>
    </section>

    <section class="bg bg1">
    </section>

    <section id="about">
      <div class="container">
        <a href="#about" class="section-self-link">
          <h2>Hong Kong Code Conf</h2>
        </a>
        <p>
         <strong>Hong Kong Code Conference</strong> will be held on Saturday 15th October 2016. It's a programming conference aimed at all programmers in Hong Kong. We want to share our skills and opinions. We want to inspire each other with our passion. We want to build a closer, stronger community.</p>
            <p>
              we <span class="heart blink">&#10084;</span> hk coders
            </p>
      </div>
    </section>

    <section id="tickets" class="section-no-bottom">
      <div class="container">
        <a href="#tickets" class="section-self-link">
          <h2>The Tickets</h2>
        </a>
        <h3 class="small">
          300 HKD including lunch<br />
          Early Birds get a free t-shirt
        </h3>
        <a href="http://hongkongcodeconf2016.eventbrite.hk" class="btn mt6 mb2">Get your tickets now!</a>
      </div>
    </section>

    <section class="bg bg2">
    </section>

    <section id="speakers">
      <div class="container">
        <a href="#speakers" class="section-self-link">
          <h2>The Speakers</h2>
        </a>

        <ul class="speakers">
          {% for speaker in site.data.speakers %}
          <li>
            <div class="speaker" id="{{ speaker.slug }}">
              <div class="speaker-body">
                <figure>
                  <img src="{{ speaker.image_url }}" alt="picture of {{ speaker.name }}">
                </figure>
                <a href="#{{ speaker.slug }}" class="section-self-link">
                  <h3>{{ speaker.name }}</h3>
                </a>

                <p>
                  {{ speaker.bio }}
                </p>

                <p>
                  {% if speaker.github %}
                    Github: <a href="https://github.com/{{ speaker.github }}" class="github">@{{ speaker.github }}</a>
                    {% if speaker.twitter %}<br />{% endif %}
                  {% endif %}

                  {% if speaker.twitter %}
                    Twitter: <a href="https://twitter.com/{{ speaker.twitter }}" class="twitter">@{{ speaker.twitter }}</a>
                  {% endif %}
                </p>
              </div>
            </div>
          </li>
          {% endfor %}
        </ul>
      </div>
    </section>

    {% include schedule-format.html %}

    <section id="sponsors">
    	<div class="container">
    		<a href="#sponsors" class="section-self-link">
    			<h2>Our Sponsors</h2>
    		</a>

    		<ul>
    			<li>
    				<div class="sponsor">
    					<figure>
    						<img src="images/2016/credit-suisse.png" alt="Credit Suisse">
    					</figure>
    					<a href="https://www.credit-suisse.com/hk/en/your-careers/recruitment-technology-microsite.html">
                Credit Suisse
              </a>
    				</div>
    			</li>

    			<li>
    				<div class="sponsor">
    					<figure>
    						<img src="images/2016/gogovan.png" alt="GoGoVan">
    					</figure>
    					<a href="http://gogovan.theresumator.com/">GoGoVan</a>
    				</div>
    			</li>
    		</ul>
    	</div>
    </section>

    <section class="bg bg3">
    </section>

    <section id="venue" class="section-no-bottom">
      <div class="container">
        <a href="#venue" class="section-self-link">
          <h2>The Venue</h2>
        </a>

        <address>
          Credit Suisse, <br />
          ICC, Kowloon.<br />
            Hong Kong
        </address>
      </div>
      <div class="overlay" onClick="style.pointerEvents='none'"></div>
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d7382.658685929874!2d114.15585323224612!3d22.303380885321918!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x340400911539bded%3A0x2663833d5bd15c05!2sInternational+Commerce+Centre%2C+1%E8%99%9F+Austin+Rd+W%2C+Kowloon+City!5e0!3m2!1snl!2shk!4v1468245279103" width="100%" height="500" frameborder="0" style="border:0" allowfullscreen></iframe>
    </section>

    <footer id="organisers">
      <div class="container">
        <h2>Supported by <a href="http://codeaholics.hk/">codeaholics</a><br />
          Organised by
          <a href="http://matthewrudy.com">Matthew Rudy</a>,
          <a href="https://github.com/zukunftsalick">Pedro Pimentel</a>,
          <a href="https://imakewebsites.hk">Charis Rooda</a>
          <a href="https://github.com/dented">Gram Milosevic</a>,
        </h2>
        <p>
          Special thanks to
          <a href="http://cargocollective.com/Veronicayu">Veronica Yu</a>
          for designing the lion logo
          and the photos from
          Hong Kong Code Conf 2015
        </p>
      </div>
    </footer>
  </body>
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-52928867-1', 'auto');
    ga('send', 'pageview');
  </script>
</html>
