---
layout: default
---
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Hong Kong Code Conf 2015 - Saturday 24th October @ CoCoon</title>
    <meta name="description" content="Hong Kong Code Conference will be held on Saturday 6th September 2014. It's a programming conference aimed at all programmers in Hong Kong. We want to share our skills and opinions. We want to inspire each other with our passion. We want to build a closer, stronger community.">
    <link rel="icon" href="favicon.ico" type="image/x-icon"/>
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon"/>

    <link rel="stylesheet" href="css/style.css">
    <link href='https://fonts.googleapis.com/css?family=Lato:300,400' rel='stylesheet' type='text/css'>
  </head>

  <body>
    <header id="hero" class="section-blue section-big">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <h1>
              <a href="http://codeconf.codeaholics.hk">
                Hong Kong<br>
                Code Conf
              </a>
            </h1>
          </div>

        </div>
        <div class="heading-smaller">
          *the* hong kong programming conference
        </div>
        <h3>organised by <a href="http://codeaholics.hk/">codeaholics</a></h3>
        <a href="#" class="btn">Get your tickets now!</a>
      </div>
    </header>


    <section id="marquee">
      <div class="container">
        <marquee>
          Saturday October 24th 2015 @
          <a href="http://www.hkcocoon.org/en/">
            CoCoon
          </a>
        </marquee>
      </div>
    </section>
    <section class="bg bg1">
    </section>
    <section id="about">
      <div class="container">
        <a href="#about" class="section-self-link">
          <h2>Hong Kong Code Conf</h2>
        </a>
        <p>
         <strong>Hong Kong Code Conference</strong> will be held on Saturday 24th October 2015. It's a programming conference aimed at all programmers in Hong Kong. We want to share our skills and opinions. We want to inspire each other with our passion. We want to build a closer, stronger community.</p>
            <p>
              we <span class="heart blink">&#10084;</span> hk coders
            </p>
      </div>
    </section>

    <section id="tickets" class="section-no-bottom">
      <div class="container">
        <a href="#tickets" class="section-self-link">
          <h2>The Tickets</h2>
        </a>

        <ul class="unstyled">
          <li>100HKD or 200 HKD with t-shirt</li>
          <li>* 200 tickets *</li>
          <li>Tickets go on sale on Friday 21th September @ 11pm HKT</li>
        </ul>

        <a href="#" class="btn mt1 mb2">Get your tickets now!</a>
      </div>
    </section>
    <section class="bg bg2">
    </section>

    <section id="speakers">
      <div class="container">
        <a href="#speakers" class="section-self-link">
          <h2>The Speakers</h2>
        </a>

        <ul class="speakers">
          {% for speaker in site.data.speakers %}
          <li>
            <div class="speaker" id="{{ speaker.slug }}">
              <div class="speaker-body">
                <figure>
                  <img src="{{ speaker.image_url }}" alt="picture of {{ speaker.name }}">
                </figure>
                <a href="#{{ speaker.slug }}" class="section-self-link">
                  <h3>{{ speaker.name }}</h3>
                </a>

                <p>
                  {{ speaker.bio }}
                </p>

                {% if speaker.twitter %}
                  <a href="https://twitter.com/{{ speaker.twitter }}">@{{ speaker.twitter }}</a>
                {% endif %}

                {% if speaker.github %}
                  <a href="https://github.com/{{ speaker.github }}">@{{ speaker.github }}</a>
                {% endif %}
              </div>
            </div>
          </li>
          {% endfor %}
        </ul>
      </div>
    </section>
    <section class="bg bg3">
    </section>
    <section id="venue" class="section-no-bottom">
      <div class="container">
        <a href="#venue" class="section-self-link">
          <h2>The Venue</h2>
        </a>

        <address>
          <a href="http://www.hkstp.org">Hong Kong Science Park</a>, No. 2 Science Park West Avenue,<br />
            Shatin, New Territories.<br />
            Hong Kong
        </address>
      </div>
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1844.0337897798995!2d114.21116050000002!3d22.426482099999987!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x340408976b5dfa1b%3A0x9f63b20d760dae34!2sCharles+K.+Kao+Auditorium%2C+Science+Park+E+Ave%2C+Science+Park!5e0!3m2!1sen!2shk!4v1442842767407" width="100%" height="500" frameborder="0" style="border:0"></iframe>
    </section>

    <footer id="organisers">
      <div class="container">
        <h2>Supported by Codeaholics<br />
          Organised by
          <a href="http://matthewrudy.com">Matthew Rudy</a>,
          <a href="https://github.com/dented">Gram Milosevic</a>,
          <a href="https://imakewebsites.hk">Charis Rooda</a>
        </h2>
      </div>
    </footer>
  </body>
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-52928867-1', 'auto');
    ga('send', 'pageview');
  </script>
  <!-- http://stackoverflow.com/a/17203597 -->
  <!--[if lt IE 10]>
  <script>

  toggleItem = function(){
      var el = document.getElementsByTagName('blink')[0];
      if (el.style.display === 'block') {
          el.style.display = 'none';
      } else {
          el.style.display = 'block';
      }
  }

  setInterval(toggleItem, 1000);

  </script>
  <![endif]-->
</html>
